@tailwind base;
@tailwind components;
@tailwind utilities;

.neumorphic-up {
  border-radius: 8px;
  background: #0f172a;
  box-shadow:  6px 6px 13px #060a12,
             -6px -6px 13px #182442;
}

.neumorphic-down {
  border-radius: 4px;
  background: #0f172a;
  box-shadow: inset 6px 6px 13px #090e19,
              inset -6px -6px 13px #15203b;
}

.neumorphic-up-round {
  border-radius: 32px;
  background: #0f172a;
  box-shadow:  6px 6px 11px #060a12,
              -6px -6px 11px #182442;
}

.neumorphic-down-round {
  border-radius: 32px;
  background: #0f172a;
  box-shadow: inset 6px 6px 11px #060a12,
              inset -6px -6px 11px #182442;
}

.neumorphic-project-card {
  border-radius: 6px;
  background: #0f172a;
  box-shadow: inset 6px 6px 20px #060a12,
              inset -6px -6px 20px #182442;
}

.neumorphic-tag {
  border-radius: 32px;
  background: #0f172a;
  box-shadow: inset 6px 6px 5px #060a12,
              inset -6px -6px 5px #182442;
}

.neumorphic-about-me {
  border-radius: 6px;
  background: #0f172a;
  box-shadow: 6px 6px 20px #060a12,
              -6px -6px 20px #182442;
}

.neumorphic-button-up {
  border-radius: 6px;
  background: #0f172a;
  box-shadow: 6px 6px 20px #060a12,
              -6px -6px 20px #182442;
}

.neumorphic-button-down {
  border-radius: 6px;
  background: #0f172a;
  box-shadow: inset 6px 6px 20px #060a12,
              inset -6px -6px 20px #182442;
}

.project-date::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #334155;
  left: 0;
  margin-left: -10px;
  border: 3px solid #0f172a;
  z-index: 100;
  /* transform: translate(-510%, 0); */
}